//********GENERAL-COLORS********
$color-general-white: #FFF;
$color-general-black: #000;
$background-general-button-rgba: rgba(#a4a4a4, .5);
//***FONTS***
$font-default: 'Open-Sans', sans-serif;
//***HEADER***
$color-nav-text: $color-general-white;
$color-background-article-head: $color-general-white;
$color-head-img-button: $color-general-white;
$color-head-img--button-background: $background-general-button-rgba;
//***MAIN-ARTICLES***
$color-article-img-border: $color-general-white;
$color-article-img-background: $background-general-button-rgba;
$color-article-img-text: $color-general-white;
$color-article-img-heart: $color-general-white;
$color-article-img-description: #F0F0F0;
$background-articles-color: #F3F3F3;
//***BUTTONS***
$background-input-email-color: #F3F3F3;
$background-button-subscribe-color: #343638;
$border-button-subscribe-color: #343639;
//***MAIN-FOOT***
$about-p-text-color: #c1c5ca;
//***BLACK&WHITE dot***
$about-dot-color: #9E9E9E;
//***LAST-TWEET TEXT***
$about-under-text-color: #9E9E9E;


$color-black-text: $color-general-black;