$color-general: #1fbcd3;
$color-general-nav: $color-general;
$color-general-search: lighten($color-general, 5%);
$color-p-text: #757575;
$color-article-header: #618bb3;
$color-article-description: #c1bfc6;
$background-color-body: white;
$background-color-article: #efefef;

$font-19: 19pt;
$font-nav: $font-19;

$border-black-small: 1px solid rgba(16, 16, 16, 0.43);
$border-nav: $border-black-small;

$margin-10-text: 10px;

